html {
  background-color: #7c4dff;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FFFFFF;
  font-family: 'Cantarell', sans-serif;
}

.App {
  height: 50vh;
  background-color: #FFFFFF;
}

h1, h2, h3 {
  font-family: 'Patua One', cursive;
}

h2 {
  text-align: center;
  color: #E91E63;
}

.visible {
  visibility: visible !important;
}

.main-content {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (max-width: 455px) {
  .main-content {
    width: 100%;
  }
}
